body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
}
.container h2{
    background-color: cornflowerblue;
    color: azure;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
.btn{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid honeydew;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: darkgrey;
    color: aliceblue;
    transition: all 1.0s ;

}